{% extends 'blog/basic.html' %}
{%block title%} blog{% endblock %}
{% block body %}
    <div class="container mt-3">
      <div class="row my-2">
      {% for iteam in mypost %}
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{ iteam.head0}}</strong>
              <h3 class="mb-0">{{ iteam.title}}</h3>
              <div class="mb-1 text-muted">{{iteam.pub_date}}</div>
              <p class="card-text mb-auto">{{iteam.chead0}}</p>
              <a href="blogpost/{{iteam.post_id}}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
             
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Image Placeholder">
                <title>Image Placeholder</title>
                <image href="/media/{{iteam.thumbnail}}" width="100%" height="100%" />
            </svg>
            
            </div>
          </div>
          </div>
        {% if forloop.counter|divisibleby:2 %}
      </div><div class="row my-2">
      {% endif %}
      
      {% endfor %}
      </div>
    </div>
    {% endblock %}