
 .col-md-3
 {
 display: inline-block;
 margin-left:-4px;
 }
 .carousel-indicators .active {
 background-color: rgb(70, 138, 155);
   }
 .col-md-3 img{
   max-width: 227px; 
   /* width: 100%; */
    height: 255px;
 }
 body .carousel-indicators li{
 background-color: blue;
 }
 body .carousel-indicators{
 bottom: 0;
 }
 body .carousel-control-prev-icon,
 body .carousel-control-next-icon{
 background-color: blue;
 }
 .carousel-control-next,  .carousel-control-prev
 {
  top:auto  ;
  bottom: auto ;
  padding-top: 209px;
 }
 
  body .no-padding{
  padding-left: 0;
  padding-right: 0;
  }


